.player {
  overflow: scroll;
  width: 300px;
  border: 1px solid black;
  border-radius: 10%;
  padding: 0 10px;
  h5 {
    text-align: center;
    color: rgb(130, 165, 198);
  }
  ul {
    li {
      cursor: text;
      font-size: 16px;
      text-align: center;
      margin: 0;
    }
  }
}
